.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1 a{
    text-decoration: none;
}
.nav h1 {
    color:blueviolet;
    margin: 0;
    font-size:40px;
}
.nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    text-decoration: none;
    color: blueviolet;
}
.nav .nav-search{
    margin-top: 6px;
    flex: 1;
    border: 1px solid blueviolet;
    border-radius: 1px solid;
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 0px;
    height: 39px;

    
}
.nav .nav-search button {
    color: blueviolet;
    /* border: 1px solid blueviolet; */
    height: 39px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
}