/* table{
    text-align: center;
    color: blueviolet;
}
table td, table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 250px;
} */

img{
    height: 100px;
    width: 100px;
}
.mat-icon{
    font-size: 2.3rem;
    margin-: 5px;
    padding-right: 2rem;
}
.pagePdf{
    text-align: center;
    color: peru;
}
.pagePdf, h1{
    text-align: center;
    color: peru;
}
#deleteIcon{
    color: red;
    cursor: pointer;
}
#editIcon{
    color: peru;
    cursor: pointer;
}
.pdfRecord{
    cursor: pointer;
    /* url("https://i.stack.imgur.com/bUGV0.png"), auto; */
}
.Search-products{
    border-color: rgb(181, 59, 206);
    border-radius: 2px;
    
}