<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller SignUp</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter Name">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter Password">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have account? Click to Login</a>
        </form>
    </div>

    <!-- Login Area -->
    <div *ngIf="showLogin" class="login">
        <div class="s_auth-login">
            
        <h1>Seller Login</h1>
            <p class="error p">{{authError }}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter Password">
            <button cl ass="form-button">Log in</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Already have account? Click to Login</a>

        </form>
    </div>
    </div>
</div>  