<div class="add-product">
    <div class="container">
        <img style="margin-left: auto; margin-right: auto; display: block;" width="100px" height="100px" src="../../assets/ItDJ.gif" alt="">
    <p class="message">{{productMessage}}</p>
    <!-- Template Driven Form -->
        <!-- <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
            <input class="form-input" ngModel="{{productData?.name}}" name="name" type="text" placeholder="Enter Product Name">
            <input class="form-input" ngModel="{{productData?.price}}" name="price" type="text" placeholder="Enter Product Price">
            <input class="form-input" ngModel="{{productData?.color}}" name="color" type="text" placeholder="Enter Product Color">
            <input class="form-input" ngModel="{{productData?.category}}" name="category" type="text" placeholder="Enter Product Category">
            <textarea class="form-input" ngModel="{{productData?.description}}" name="description" type="text" placeholder="Enter Product Description"></textarea>
            <input class="form-input" ngModel="{{productData?.image}}" name="image" type="text" placeholder="Enter Product Image URL">
            <button class="form-button">Update</button>
        </form> -->

    <!-- Reactive-Form -->
        <form [formGroup]="addProduct" (ngSubmit)="submit(addProduct.value)" class="common-form">
            <input class="form-input" ngModel="{{productData?.name}}" formControlName="name" type="text" placeholder="Enter Product Name">
            <input class="form-input" ngModel="{{productData?.price}}" formControlName="price" type="text" placeholder="Enter Product Price">
            <input class="form-input" ngModel="{{productData?.color}}" formControlName="color" type="text" placeholder="Enter Product Color">
            <input class="form-input" ngModel="{{productData?.category}}" formControlName="category" type="text" placeholder="Enter Product Category">
            <textarea class="form-input" ngModel="{{productData?.description}}" formControlName="description" type="text" placeholder="Enter Product Description"></textarea>
            <input class="form-input" ngModel="{{productData?.image}}" formControlName="image" type="text" placeholder="Enter Product Image URL">
            <button class="form-button">Update</button>
        </form>
    </div>
</div>